{% load static %}
<nav class="flex justify-between px-20 py-10 items-center bg-white">
  <a href="/">
    <div class="hover:animate-pulse hover:text-blue-500 inline rounded-full border text-orange-500 px-2 text-3xl font-serif font-bold bg-cover dropshadow-md shadow-md bg-[url({% static 'home/images/voter.jpg' %})]">V</div>
    <span class="inline text-xl text-gray-800 font-bold">
      oter
    </span>
  </a>
  <div class="flex items-center">
    {% if current_page == 'search' %}
    <div class="flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 pt-0.5 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
      </svg>
      <input
             type="text"
             name="search"
             placeholder="ค้นคำถาม..." 
             hx-post="/htmx/search"
             hx-trigger="input changed"
             hx-target="#search-results"
             hx-swap="innerHTML"
             class="ml-2 outline-none bg-transparent" 
      />
    </div>
    {% endif %}
    <ul class="flex items-center space-x-6">
      <li class="font-semibold text-gray-700">
        <a href="/vote/" class="hover:underline text-gray-300 hover:text-orange-500">
          Vote
        </a>
      </li>
      {% if user.is_superuser %}
      <li class="font-semibold text-gray-700">
        <a href="/dashboard/" class="text-gray-600 hover:text-orange-500 px-2 py-2 hover:border hover:rounded-xl hover:border-orange-600">
          Dashboard
        </a>
      </li>
      {% endif %}
      <li class="font-semibold text-gray-700">
        <a href="/questions/" class="text-gray-600 hover:text-orange-500 px-2 py-2 hover:border hover:rounded-xl hover:border-orange-600">
          Questions
        </a>
      </li>
      <li class="font-semibold text-gray-700">
        {% if current_page == 'search' %}
        <span class="text-orange-500 disable px-2 py-2">
          Search
        </span>
        {% else %}
        <a href="/search/" class="text-gray-600 hover:text-orange-500 px-2 py-2 hover:border hover:rounded-xl hover:border-orange-600">
          Search
        </a>
        {% endif %}
      </li>
      <li>
        {% if not user.is_authenticated %}
        <a href="/login" class="hover:underline text-gray-600 px-2 py-2 hover:text-orange-500 hover:border hover:rounded-xl hover:border-orange-600">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-log-in"><path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"/><polyline points="10 17 15 12 10 7"/><line x1="15" x2="3" y1="12" y2="12"/></svg>
        </a>
        {% else %}
        <button 
               x-on:click="modalOpen=true"
               class="inline pl-1 hover:text-orange-500">
          <svg class="inline" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-bell"><path d="M6 8a6 6 0 0 1 12 0c0 7 3 9 3 9H3s3-2 3-9"/><path d="M10.3 21a1.94 1.94 0 0 0 3.4 0"/></svg>
          <span
              hx-post="/htmx/notification/count/"
              hx-trigger="every 1s"
              hx-target="this"
              hx-swap="innerHTML"
              class="relative inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -start-4 dark:border-gray-900">
            {{ user.notification_set.count|default:0 }}
          </span>
        </button>
        <span class="inline pl-1">{{ user.username }}</span>
        <a href="/logout" class="hover:underline text-gray-600 hover:text-orange-500">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/><polyline points="16 17 21 12 16 7"/><line x1="21" x2="9" y1="12" y2="12"/></svg>
        </a>
        {% endif %}
      </li>
    </ul>
  </div>
</nav>

