{% load static %}
<div class="flex flex-col max-w-sm rounded overflow-hidden shadow-lg mb-6">
  <div class="w-full h-20 bg-[url({% static 'home/images/voter.jpg' %})] bg-cover">
  </div>
  <div class="grow px-6 py-4 min-w-96 ">
    <div class="font-bold text-xl mb-2 text-center">{{ q.text }}?</div>
    <ul class="grow">
      {% for a in q.answer_set.all|dictsortreversed:'count' %}
      <li class="flex text-gray-700 text-base justify-between">
        <span>
          <span
              class="inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -end-2 dark:border-gray-900">
            {{ a.count }}
          </span>
          {{ a.text }}
        </span>
      </li>
      {% empty %}
      <li class="text-gray-200"> ยังไม่มีผลโหวต </li>
      {% endfor %}
    </ul>
  </div>
  <div class="px-6 pt-4 pb-2">
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{ q.user.username }}</span>
  </div>
</div>
