<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vote</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
</head>
<body>
   <!-- header -->
   <div class="w-full px-10 flex justify-between bg-[#518242] shadow-md">
    <a 
      class="text-white
        hover:text-amber-400 
        hover:rounded-xl
        hover:border-2
        py-1"
      href="{% url 'vote_home' %}">
      <svg class="w-8 h-8 inline" 
      xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-home"><path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/><polyline points="9 22 9 12 15 12 15 22"/></svg>
      HOME
    </a>
    <a href="{% url 'vote_make_question' %}">Question</a>
    <a href="{% url 'vote_answer_question' %}">Answer</a>
    <div class="bg-red-100 px-6 flex">
      {% if user.is_authenticated %}
      <span class="px-2">{{ user.username }}</span>
      <a class="bg-sky-800 text-white rounded-xl px-8" 
      href="{% url 'vote_logout' %}">Logout</a>
      {% else %}
      <a href="{% url 'vote_login' %}">Login</a>
      {% endif %}
    </div>
   </div>
   <div class="
      w-full
      bg-[#D9E7CB]
      min-h-screen
   ">
   <h1 class="text-center text-3xl py-10">Voter System</h1> 
   <div>
    <ol>
        {% for q in questions %}
        <li x-data="{ open: false, }">
          {{ q.text }} - ถามโดย {{ q.user.username }}
            <button class="bg-[#D9E7CB]"
            @click="open = !open">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu">
                <line x1="4" x2="20" y1="12" y2="12" />
                <line x1="4" x2="20" y1="6" y2="6" />
                <line x1="4" x2="20" y1="18" y2="18" />
              </svg>
            </button>
            <ul x-show="open" x-transition>
                {% for a in q.answer_set.all %}
                <li class="my-4 text-center">
                  <button type="button"
                    class="w-60 relative inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white 
                    bg-[#518242] rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <svg class="w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                      viewBox="0 0 20 16">
                      <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z" />
                      <path
                        d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z" />
                    </svg>
                    <span class="sr-only">Notifications</span>
                    {{ a.text }}
                    <div
                      class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -end-2 dark:border-gray-900">
                      {{ a.count }}</div>
                  </button>
                </li>
                {% endfor %}
                {% if user.is_authenticated %}
                <li>
                  <form action="{% url 'vote_create_answer' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="question_id" value={{ q.id }} />
                    <input type="text" name="text" placeholder="เพิ่มคำตอบ" />
                    <button type="submit">เพิ่มคำตอบ</button>
                  </form>
                </li>
                {% endif %}
            </ul>
        </li>
        {% endfor %}
        {% if user.is_authenticated %}
        <li>
          <form action="{% url 'vote_create_question' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="text" placeholder="เพิ่มคำถาม" />
            <button type="submit">เพิ่มคำถาม</button>
          </form>
        </li>
        {% endif %}
    </ol>
   </div>
</body>
</html>
