<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vote</title>
</head>
<body>
   <ul>
    <li><a href="{% url 'vote_home' %}">HOME</a></li>
    <li><a href="{% url 'vote_make_question' %}">Question</a></li>
    <li><a href="{% url 'vote_answer_question' %}">Answer</a></li>
    <li><a href="{% url 'vote_login' %}">Login</a></li>
   </ul>
   <h1>Voter System</h1> 
   <div>
    <ol>
        {% for q in questions %}
        <li>{{ q.text }} - {{ q.user.username }}
            <ul>
                {% for a in q.answer_set.all %}
                <li>{{ a.text }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ol>
   </div>
</body>
</html>