<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {% if message %}
    <h3>{{ message }}</h3>
    {% endif %}
    <h1>Login</h1>
    <div>
      <form action="{% url 'vote_login' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="next_url" value={{ next_url }} />
        <label for="username_input">Username: </label><input id="username_input" type="text" name="username" placeholder="username"/> <br/>
        <label for="password_input">Password: </label><input id="password_input" type="password" name="password" placeholder="password"/> <br/>
        <button type="submit">Login</button>
      </form>
    </div>
</body>
</html>
