<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap">

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
</head>
<body
  class="
         leading-6
         text-sm
         font-san
  ">
  {% include 'home/nav.html' %}
  {% include 'home/hero.html' %}
  {% include 'home/feature.html' %}
  {% include 'home/testimonial.html' %}
  {% include 'home/calltoaction.html' %}
  {% include 'home/footer.html' %}
</body>
</html>
