<nav class="flex justify-between px-20 py-10 items-center bg-white">
  <h1 class="text-xl text-gray-800 font-bold"><span class="rounded-full border text-indigo-700 px-2 text-3xl font-serif font-bold">V</span>oter</h1>
  <div class="flex items-center">
    <div class="flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 pt-0.5 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
      </svg>
      <input class="ml-2 outline-none bg-transparent font-" type="text" name="search" id="search" placeholder="Search..." />
    </div>
    <ul class="flex items-center space-x-6">
      <li class="font-semibold text-gray-700">
        <a href="/vote/" class="hover:underline text-gray-600 hover:text-orange-500">
          Home
        </a>
      </li>
      <li class="font-semibold text-gray-700">
        <a href="/vote/questions/" class="hover:underline text-gray-600 hover:text-orange-500">
          Questions
        </a>
      </li>
      <li class="font-semibold text-gray-700">
        <a href="/vote/answers/" class="hover:underline text-gray-600 hover:text-orange-500">
          Answers
        </a>
      </li>
      <li>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
        </svg>
      </li>
    </ul>
  </div>
</nav>
