<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voter Search</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap">

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10" defer></script>

    {% load static %}
  </head>
  <body
      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
      class="
             flex flex-col
             min-h-screen
             leading-6
             text-sm
             font-san
             ">

    {% include 'home/components/nav.html' with current_page='search' %}

    <div 
      id="search-results"
      class="grow px-6 h-96 w-full flex flex-wrap justify-between content-between mb-10 overflow-y-scroll">

      <div class="text-gray-500 my-auto mx-auto animate-pulse">กรอกคำถามเพื่อเริ่มค้นหา</div>

    </div>
    {% include 'home/components/footer.html' %}
  </body>
</html>
